body {
  position: absolute;
  width: 1920px;
  min-height: fit-content;
}

#main-page {
  /* inclui header e o main MAIN */
  position: absolute;
  left: 0px;
  right: 0px;
  top: 0px;
  bottom: 0px;
  height: fit-content;

  background-image: url("bg.jpg");
  
  display: flex;
  flex-direction: column;
}

/* ------------- HEADER --------------- */

#header {
  background-image: linear-gradient(#000000 70%, transparent);

  display: flex;
  flex-direction: row;
  align-items: center;
  height: 200px;
}

#logo {
  display: inline;
  float: left;
}

#logo_picture {
  width: 250px;
}

#header > ul {
  display: flex;
  float: left;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 50px;

  list-style-type: none;
  margin-top: 61.5px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 25px;
  color: #ffffff;
}

#login {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 0px 12px;
  gap: 24px;

  position: absolute;
  left: 1634.16px;
  top: 91.5px;

  width: 120px;
  height: 46px;
  background: #ffffff;
  border-radius: 38px;
}

#login-txt {
  font-family: "Inter";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;

  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.4px;

  color: #21262e;
}

/* ------------- LIKES E PA --------------- */

#main {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: center;

  position: absolute;
  left: 115px;
  right: 115px;
  top: 200px;
  height: 1000px;
  margin-top: 50px;
  gap: 10px;

  background-color: #000000;
}

#user_picture {
  height: 650px;
  width: 650px;
  padding: 2px;

  background-color: antiquewhite;
}
#imgAtual {
  max-height: 650px;
  max-width: 650px;
  overflow: hidden;
}

#buttons {
  background-color: greenyellow;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
}

.button {
  background-color: aqua;
  margin: 10px;
  height: 80px;
  width: 80px;
}

/* ------------- FOOTER --------------- */

#footer {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;

  background-color: royalblue;
  position: absolute;
  width: 1728px;
  height: fit-content;
  left: calc(50% - 1728px / 2);
  top: calc(50% - 206px / 2 + 979px);
}

#section-BdT {
  box-sizing: border-box;

  position: absolute;
  width: 1688px;
  height: 33px;
  left: 20px;
  top: 415px;
  border-top: 1px solid #d4d8de;
}

.footer-txt {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 138%;

  display: flex;
  align-items: center;

  color: greenyellow;
}
