body {
    background-color: white;
    font-family: "Poppins";
}

#header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: start;
    align-items: baseline;
    gap: 30px;

    background-color:red;
    min-width: 200px;
    min-height: 40px;
    margin: 10px;
}

#logo_picture {
    display: flex;
    align-items: center;
    align-items: center;
    flex-basis: 50%;

    max-width: 80px;
}

#info {
    display: flex;
    flex-wrap: wrap;

    place-items: start;

    background-color: blueviolet;
}

.info_content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    margin-left: 30px;

    background-color: aqua;
}

#main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;

    background-color: rebeccapurple;
    min-width: 200px;
    min-height: 600px;
    margin: 10px;
}

#footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;

    background-color: royalblue;
    min-width: 200px;
    min-height: 40px;
    margin: 10px;
}

#login {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

#login_content {
    background-color: whitesmoke;

    border: solid;
    border-width: 2px;
    border-color: whitesmoke;
    border-radius: 20px;

    padding: 5px;
}

#user_picture {
    height: 400px;
    width: 400px;
    padding: 2px;

    background-color:antiquewhite;
}
#imgAtual {
    max-height: 400px;
    max-width: 400px;
    overflow: hidden;
  }

#buttons {
    background-color: greenyellow;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}

.button {
    background-color: aqua;
    margin: 10px;
    height: 80px;
    width: 80px;
}

